<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

    <style>
    body > .grid {
      height: 100%;
    }
    body {
      background-color: #DADADA;
    }
    .column {
      max-width: 1000px;
    }
    #dayspan {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .ds-calendar {
      width: 400px !important;
    }
    .ds-weekday {
      font-weight: bold;
    }
    .ds-day {
      min-height: 50px;
      border: 1px solid rgba(0,0,0,0.1);
      background-color: #eee;
      user-select: none;
    }
    .ds-day.ds-in {
      background-color: #fff;
      cursor: pointer;
    }
    .ds-month {
      font-size: 1.5em;
      font-weight: bold;
    }
    .ds-day .floating.label {
      top: -0.5em;
      left: auto;
      right: -0.5em;
    }
    .ds-day.ds-today.ds-thisweek {
      background-color: #9dd5ff;
    }
    .ds-day.ds-thisweek {
      background-color: #e0f2ff;
    }
    .ds-day.ds-selected {
      background-color: #79f377 !important;
    }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

    <script src="node_modules/moment/min/moment-with-locales.js"></script>
    <script src="umd/dayspan.js"></script>

  </head>
  <body>

    <a href="https://github.com/ClickerMonkey/dayspan"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <div class="ui center aligned grid" id="dayspan">

      <div class="ui seven column padded grid ds-calendar">
        <div class="sixteen wide column">
          <div class="ui left floated icon blue button" @click="calendar.prev()">
            <i class="angle left icon"></i>
          </div>
          <span class="ds-month">
            {{ startMonth }} {{ calendar.start.year }}
          </span>
          <div class="ui right floated icon blue button" @click="calendar.next()">
            <i class="angle right icon"></i>
          </div>
        </div>
        <div class="column ds-weekday" v-for="weekday in weekdayCodes">
          {{ weekday }}
        </div>
        <ds-day v-for="day in calendar.days"
          :key="day.dayIdentifier"
          :day="day"
          :day-property="dayProperty"
          @mousedown.native="selectStart( day )"
          @mousemove.native="selectMove( day )"
          @mouseup.native="selectEnd( day )"
        ></ds-day>
      </div>

      <select class="ui selection dropdown"
        v-model="dayProperty">
        <option v-for="(value, label) in dayProperties" :value="value">
          {{ label }}
        </option>
      </select>

      <div v-for="day in calendar.days" :key="day.dayIdentifier" v-if="day.selectedDay">
        <h5>{{ day.format('ddd MMM Do YYYY') }}</h5>
        <div v-if="day.events.length">
          <ul>
            <li v-for="event in day.events" :key="event.event">
              {{ event.event }}
            </li>
          </ul>
        </div>
        <div v-else>
          <i>No Events on this Day</i>
        </div>
      </div>

    </div>


    <script type="text/template" id="template_day">
      <div class="column ds-day"
        @click="$emit( 'selected', day )"
        :class="{
          'ds-in': day.inCalendar,
          'ds-today': day.currentDay,
          'ds-thisweek': day.currentWeek,
          'ds-selected': day.selectedDay
        }">
        {{ day[ dayProperty ] }}
        <div class="floating ui small blue circular label"
          v-if="day.events.length">
          {{ day.events.length }}
        </div>
      </div>
    </script>

    <script>
      var Store = {
        Watcher: function(name, deep) {
          return {
            deep: !!deep,
            handler: function(newValue) {
              localStorage.setItem(name, JSON.stringify(newValue));
            }
          };
        },
        Load: function(name, defaultValue, parser) {
          var oldValue = localStorage.getItem(name);
          if (!oldValue) {
            return defaultValue;
          }
          var parsedValue = JSON.parse(oldValue);
          if (parser) {
            parsedValue = parser( parsedValue );
          }
          return parsedValue;
        }
      };

      new Vue({
        el: '#dayspan',
        data: {
          calendar: ds.Calendar.months(),
          input: Store.Load('input', ''),
          dayProperty: Store.Load('dayProperty', 'dayOfMonth'),
          selectionStart: null,
          dayProperties: {
            'Day Of Week': 'dayOfWeek',
            'Day Of Month': 'dayOfMonth',
            'Day Of Year': 'dayOfYear',
            'Week': 'week',
            'Week Of Year': 'weekOfYear',
            'Weekspan Of Year': 'weekspanOfYear',
            'Full Week Of Year': 'fullWeekOfYear',
            'Week Of Month': 'weekOfMonth',
            'Weekspan Of Month': 'weekspanOfMonth',
            'Full Week Of Month': 'fullWeekOfMonth'
          },
          weekdays: ds.Weekday.NAMES,
          weekdayCodes: ds.Weekday.CODES
        },
        watch: {
          input: Store.Watcher('input'),
          dayProperty: Store.Watcher('dayProperty')
        },
        computed: {
          startMonth: function() {
            return ds.Month.NAMES[ this.calendar.start.month ];
          },
          endMonth: function() {
            return ds.Month.NAMES[ (this.calendar.end.month - 1) % 12 ];
          },
          sameMonth: function() {
            return this.startMonth === this.endMonth;
          }
        },
        mounted: function() {
          // Populate
          this.calendar.addSchedule({
            event: 'Monthly Meeting',
            schedule: new ds.Schedule({
              dayOfWeek: [ds.Weekday.MONDAY],
              hour: [9],
              duration: ds.Duration.minutes(30)
            })
          });

          this.calendar.addSchedule({
            event: 'Mother\'s Day',
            schedule: new ds.Schedule({
              month: [ds.Month.MAY],
              dayOfWeek: [ds.Weekday.SUNDAY],
              weekspanOfMonth: [1]
            })
          });

          window.app = this;
        },
        methods: {
          selectStart: function(day) {
            this.selectionStart = day;
          },
          selectMove: function(day) {
            if (!this.selectionStart) {
              return;
            }
            var existing = this.calendar.selection;
            if (existing && existing.isPoint && existing.matchesDay( day ) && day.sameDay( this.selectionStart )) {
              this.calendar.unselect();
            } else {
              var min = day.min( this.selectionStart );
              var max = day.max( this.selectionStart );
              this.calendar.select(min, max);
            }
          },
          selectEnd: function(day) {
            this.selectMove( day );
            this.selectionStart = null;
          }
        },
        components: {
          dsDay: {
            props: ['day', 'dayProperty'],
            template: '#template_day'
          }
        }
      });
    </script>
  -->

  </body>
</html>
