<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="node_modules/moment/min/moment-with-locales.js"></script>
    <script src="umd/dayspan.js"></script>
    <style>
    [v-cloak] {
      display: none;
    }
    </style>
  </head>
  <body>

    <v-app id="dayspan" v-cloak>
      <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>

        <!-- Month -->
        <div class="pa-3">
          <div style="display:flex" class="mb-2">
            <div style="flex:5" class="subtitle grey--text text--darken-1 py-1 pl-2">
              {{ monthSummary }}
            </div>
            <v-tooltip bottom style="flex:1; text-align:center">
              <v-btn slot="activator" small icon depressed @click="prevMonth" class="grey--text text--darken-1 ma-0">
                <v-icon>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous month</span>
            </v-tooltip>
            <v-tooltip bottom style="flex:1; text-align:center">
              <v-btn slot="activator" small icon depressed @click="nextMonth" class="grey--text text--darken-1 ma-0">
                <v-icon>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next month</span>
            </v-tooltip>
          </div>
          <div style="display:flex; text-align:center" class="grey--text text--darken-1">
            <div v-for="weekday in weekdays"
              :key="weekday"
              style="flex: 1">
              <v-tooltip bottom>
                <span slot="activator">{{ weekday.charAt(0) }}</span>
                <span>{{ weekday }}</span>
              </v-tooltip>
            </div>
          </div>
          <div style="display:flex; text-align:center; flex-direction: row; flex-wrap: wrap;">
            <div style="flex: 1 0 14%"
              v-for="day in month.days"
              :key="day.dayIdentifier">
              <v-btn small icon depressed class="ma-0" @click="rebuild(day)"
                :class="{'btn--active': day.currentDay, 'grey--text text--darken-1': !day.inCalendar}">
                {{ day.dayOfMonth }}
              </v-btn>
            </div>
          </div>
        </div>

      </v-navigation-drawer>
      <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="white" app flat fixed>

        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <span class="hidden-sm-and-down">DaySpan</span>
        </v-toolbar-title>

        <v-tooltip bottom>
          <v-btn depressed @click="today" slot="activator">TODAY</v-btn>
          <span>{{ todayDate }}</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn slot="activator" icon depressed @click="prev" class="grey--text text--darken-1">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
          <span>Previous month</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn slot="activator" icon depressed @click="next" class="grey--text text--darken-1">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
          <span>Next month</span>
        </v-tooltip>

        <h1 class="title grey--text text--darken-1">
          {{ summary }}
        </h1>

        <v-spacer></v-spacer>
        <v-menu>
          <v-btn flat slot="activator">
            {{ currentType.label }}
            <v-icon>arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="type in types"
              :key="type.id"
              @click="currentType = type">
              <v-list-tile-content>
                <v-list-tile-title>{{ type.label }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>{{ type.shortcut }}</v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-btn icon large href="https://github.com/ClickerMonkey/dayspan" target="_blank">
          <v-avatar size="32px" tile>
            <img src="https://simpleicons.org/icons/github.svg" alt="Github">
          </v-avatar>
        </v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height class="pa-0">

          <div v-if="isDay">
            Day View Not Yet Implemented
          </div>

          <div v-if="isWeek">
            Week View Not Yet Implemented
          </div>

          <div v-if="isMonth" class="ds-expand">
            <div class="ds-month ds-expand">
              <div class="ds-week-header">
                <div class="ds-week-header-day grey--text text--darken-1 pa-1"
                  v-for="weekday in weekdayCodes" :key="weekday">
                  {{ weekday }}
                </div>
              </div>
              <div class="ds-week" v-for="i in rows">
                <template v-for="k in 7">
                  <ds-day :key="k" :day="dayAtIndex(i, k)"></ds-day>
                </template>
              </div>
            </div>
          </div>

          <div v-if="isYear">
            Year View Not Yet Implemented
          </div>

        </v-container>
      </v-content>
    </v-app>

    <script type="text/template" id="template_day">
      <div class="ds-day pa-1">
        <div :class="{'grey--text text--darken-1': !day.inCalendar}">
          <span v-if="day.dayOfMonth === 1">
            {{ day.format('MMM') }}
          </span>
          {{ day.dayOfMonth }}
        </div>
        <div v-for="event in day.events" class="ds-event" :style="{
          backgroundColor: event.event.color
        }">
          <span v-if="event.starting">
            {{ event.event.name }}
          </span>
        </div>
      </div>
    </script>

    <style>
      nav.toolbar .toolbar__content {
        border-bottom: 1px solid rgb(224, 224, 224);
      }
      .ds-expand {
        width: 100%;
        height: 100%;
      }
      .ds-month {
        display: flex;
        flex-direction: column;
        background-color: white;
      }
      .ds-week-header {
        display: flex;
      }
      .ds-week-header-day {
        flex: 1 0 20px;
        border-right: #e0e0e0 1px solid;
      }
      .ds-week {
        display: flex;
        flex: 1;
      }
      .ds-day {
        flex: 1;
        width: 0;
        border-right: #e0e0e0 1px solid;
        border-bottom: #e0e0e0 1px solid;
      }
      .ds-event {
        margin: 1px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 0.5em;
        font-size: 12px;
      }
    </style>

    <script>
      var Store = {
        Watcher: function(name, deep) {
          return {
            deep: !!deep,
            handler: function(newValue) {
              localStorage.setItem(name, JSON.stringify(newValue));
            }
          };
        },
        Load: function(name, defaultValue, parser) {
          var oldValue = localStorage.getItem(name);
          if (!oldValue) {
            return defaultValue;
          }
          var parsedValue = JSON.parse(oldValue);
          if (parser) {
            parsedValue = parser( parsedValue );
          }
          return parsedValue;
        }
      };

      new Vue({
        el: '#dayspan',
        props: ['source'],
        data: {
          drawer: null,
          calendar: null,
          month: ds.Calendar.months(1, ds.Day.today(), 0, {fill: true, minimumSize: 42}),
          dayProperty: Store.Load('dayProperty', 'dayOfMonth'),
          currentType: null,
          types: [
            {id: 'D', label: 'Day', shortcut: 'D', type: ds.Units.DAY, size: 1},
            {id: 'W', label: 'Week', shortcut: 'W', type: ds.Units.WEEK, size: 1},
            {id: 'M', label: 'Month', shortcut: 'M', type: ds.Units.MONTH, size: 1},
            {id: 'Y', label: 'Year', shortcut: 'Y', type: ds.Units.YEAR, size: 1},
            {id: 'X', label: '4 days', shortcut: 'X', type: ds.Units.DAY, size: 4}
          ],
          selectionStart: null,
          dayProperties: {
            'Day Of Week': 'dayOfWeek',
            'Day Of Month': 'dayOfMonth',
            'Day Of Year': 'dayOfYear',
            'Week': 'week',
            'Week Of Year': 'weekOfYear',
            'Weekspan Of Year': 'weekspanOfYear',
            'Full Week Of Year': 'fullWeekOfYear',
            'Week Of Month': 'weekOfMonth',
            'Weekspan Of Month': 'weekspanOfMonth',
            'Full Week Of Month': 'fullWeekOfMonth'
          },
          weekdays: moment.weekdays(),
          weekdayCodes: moment.weekdaysShort(),
          schedules: [
            {
              event: {name: 'Monthly Meeting', color: '#21a700'},
              schedule: {
                dayOfWeek: [ds.Weekday.MONDAY],
                hour: [9],
                duration: ds.Duration.minutes(30)
              }
            },
            {
              event: {name: 'Mother\'s Day', color: '#4285f4'},
              schedule: {
                month: [ds.Month.MAY],
                dayOfWeek: [ds.Weekday.SUNDAY],
                weekspanOfMonth: [1]
              }
            },
            {
              event: {name: 'First Weekend of May', color: '#000000'},
              schedule: {
                month: [ds.Month.MAY],
                weekspanOfMonth: [0],
                dayOfWeek: [ds.Weekday.FRIDAY],
                duration: ds.Duration.days(3)
              }
            }
          ]
        },
        watch: {
          input: Store.Watcher('input'),
          dayProperty: Store.Watcher('dayProperty'),
          currentType: function() {
            this.rebuild();
          }
        },
        computed: {
          monthSummary: function() {
            return this.month.summary(false, false, false, false);
          },
          summary: function() {
            return this.calendar ? this.calendar.summary(false, false, false, false) : '';
          },
          todayDate: function() {
            return ds.Day.today().format('dddd, MMMM D');
          },
          rows: function() {
            return Math.floor( this.calendar.days.length / 7 );
          },
          isDay: function() {
            return this.calendar && this.calendar.type === ds.Units.DAY;
          },
          isWeek: function() {
            return this.calendar && this.calendar.type === ds.Units.WEEK;
          },
          isMonth: function() {
            return this.calendar && this.calendar.type === ds.Units.MONTH;
          },
          isYear: function() {
            return this.calendar && this.calendar.type === ds.Units.YEAR;
          }
        },
        created: function() {
          // Initialize types
          if (!this.currentType) {
            this.currentType = this.types[2];
          }

          // Export
          window.app = this;
        },
        methods: {
          rebuild: function(aroundDay) {
            var type = this.currentType || this.types[ 2 ];
            var around = aroundDay || (this.calendar ? this.calendar.start : ds.Day.today());

            if (this.calendar &&
                this.calendar.type === type.type &&
                this.calendar.size === type.size &&
                (!around || this.calendar.span.matchesDay( around ))) {
              return;
            }

            switch (type.type) {
              case ds.Units.DAY:
                this.calendar = ds.Calendar.days(type.size, around, 0, {
                  eventsOutside: true,
                  listTimes: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.WEEK:
                this.calendar = ds.Calendar.weeks(type.size, around, 0, {
                  eventsOutside: true,
                  listTimes: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.MONTH:
                this.calendar = ds.Calendar.months(type.size, around, 0, {
                  eventsOutside: true,
                  fill: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.YEAR:
                this.calendar = ds.Calendar.years(type.size, around, 0, {
                  eventsOutside: true,
                  fill: true,
                  schedules: this.schedules
                });
                break;
            }

            this.updateMonth();
          },
          selectStart: function(day) {
            this.selectionStart = day;
          },
          selectMove: function(day) {
            if (!this.selectionStart) {
              return;
            }
            var existing = this.calendar.selection;
            if (existing && existing.isPoint && existing.matchesDay( day ) && day.sameDay( this.selectionStart )) {
              this.calendar.unselect();
            } else {
              var min = day.min( this.selectionStart );
              var max = day.max( this.selectionStart );
              this.calendar.select(min, max);
            }
          },
          selectEnd: function(day) {
            this.selectMove( day );
            this.selectionStart = null;
          },
          next: function() {
            this.calendar.unselect().next();
            this.updateMonth();
          },
          prev: function() {
            this.calendar.unselect().prev();
            this.updateMonth();
          },
          updateMonth: function() {
            var view = this.calendar.span;
            var month = this.month.span;

            if (!view.matchesMonth(month.start)) {
              this.month = ds.Calendar.months(1, view.start, 0, {fill: true, minimumSize: 42});
            }
          },
          today: function() {
            this.rebuild(ds.Day.today());
          },
          prevMonth: function() {
            this.month.prev();
          },
          nextMonth: function() {
            this.month.next();
          },
          dayAtIndex: function(row, cell) {
            return this.calendar.days[ (row - 1) * 7 + (cell - 1) ];
          }
        },
        components: {
          dsDay: {
            props: ['day'],
            template: '#template_day'
          }
        }
      });
    </script>

  </body>
</html>
