<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="../../node_modules/moment/min/moment-with-locales.js"></script>
    <script src="../../umd/dayspan.js"></script>
    <style> [v-cloak] { display: none; } </style>
  </head>
  <body>

  <!--
TODO non-repeating events with duration (don't show 12am)
TODO days spanning over others

  -->

    <v-app id="dayspan" v-cloak>
      <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
        <div class="pa-3" v-if="calendar">
          <ds-day-picker :span="calendar.span" @picked="rebuild"></ds-day-picker>
        </div>
      </v-navigation-drawer>
      <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="white" app flat fixed>

        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <span class="hidden-sm-and-down">DaySpan</span>
        </v-toolbar-title>

        <v-tooltip bottom>
          <v-btn depressed @click="today" slot="activator">TODAY</v-btn>
          <span>{{ todayDate }}</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn slot="activator" icon depressed @click="prev" class="grey--text text--darken-1">
            <v-icon>keyboard_arrow_left</v-icon>
          </v-btn>
          <span>Previous month</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn slot="activator" icon depressed @click="next" class="grey--text text--darken-1">
            <v-icon>keyboard_arrow_right</v-icon>
          </v-btn>
          <span>Next month</span>
        </v-tooltip>

        <h1 class="title grey--text text--darken-1">
          {{ summary }}
        </h1>

        <v-spacer></v-spacer>
        <v-menu>
          <v-btn flat slot="activator">
            {{ currentType.label }}
            <v-icon>arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="type in types"
              :key="type.id"
              @click="currentType = type">
              <v-list-tile-content>
                <v-list-tile-title>{{ type.label }}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>{{ type.shortcut }}</v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-btn icon large href="https://github.com/ClickerMonkey/dayspan" target="_blank">
          <v-avatar size="32px" tile>
            <img src="https://simpleicons.org/icons/github.svg" alt="Github">
          </v-avatar>
        </v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height class="pa-0">

          <div v-if="isDay" class="ds-expand ds-day-view">

            <div class="ds-month ds-expand">
              <div class="ds-week-header">
                <div class="ds-week-header-day grey--text text--darken-1 pa-1"
                  v-for="day in calendar.days" :key="day.dayIdentifier"
                  :class="{ 'ds-week-header-today': day.currentDay }">
                  {{ day.format('dddd') }}
                </div>
              </div>
              <ds-day-row
                :days="calendar.days"
                @edit="edit"
                @add="add"
              ></ds-day-row>
            </div>

          </div>

          <div v-if="isWeek" class="ds-expand ds-week-view">
            <div class="ds-month ds-expand">
              <div class="ds-week-header">
                <div class="ds-week-header-day grey--text text--darken-1 pa-1"
                  v-for="(weekday, weekdayIndex) in weekdayCodes" :key="weekday"
                  :class="{ 'ds-week-header-today': dayAtIndex(1, weekdayIndex + 1).currentDay }">
                  {{ weekday }}
                </div>
              </div>
              <ds-day-row
                v-for="i in rows"
                :key="i"
                :days="daysAtRow( i, 7 )"
                @edit="edit"
                @add="add"
              ></ds-day-row>
            </div>
          </div>

          <div v-if="isMonth" class="ds-expand ds-month-view">
            <div class="ds-month ds-expand">
              <div class="ds-week-header">
                <div class="ds-week-header-day grey--text text--darken-1 pa-1"
                  v-for="weekday in weekdayCodes" :key="weekday">
                  {{ weekday }}
                </div>
              </div>
              <ds-day-row
                v-for="i in rows"
                :key="i"
                :days="daysAtRow( i, 7 )"
                @edit="edit"
                @add="add"
              ></ds-day-row>
            </div>
          </div>

          <div v-if="isYear">
            Year View Not Yet Implemented
          </div>

          <ds-scheduler ref="scheduler"
            @save="eventSave"
            @remove="eventRemove"
            @exclude="eventRemoveOccurrence"></ds-scheduler>

        </v-container>
      </v-content>
    </v-app>

    <script type="text/template" id="template_scheduler">
      <v-dialog v-model="open" max-width="700px" persistent>
        <v-card>
          <v-card-text>
            <v-layout row>
              <v-flex xs1>
                <v-tooltip bottom>
                  <v-btn slot="activator" icon color="grey lighten-4" @click="cancel">
                    <v-icon dark>clear</v-icon>
                  </v-btn>
                  <span>Cancel event changes</span>
                </v-tooltip>
              </v-flex>
              <v-flex xs6>
                <v-text-field single-line flat hide-details
                  class="ds-gray-textfield ds-font-18 pr-2 pt-1"
                  label="Title"
                  v-model="title"
                ></v-text-field>
              </v-flex>
              <v-flex xs5>
                <v-btn :disabled="!canSave" color="primary" dark @click.stop="save">Save</v-btn>
                <v-menu bottom left>
                  <v-btn slot="activator" color="grey lighten-4">
                    More actions...
                  </v-btn>
                  <v-list v-if="canRemove || canExclude">
                    <v-list-tile @click="remove" v-if="canRemove">
                      <v-list-tile-title>Remove this event</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="exclude" v-if="canExclude">
                      <v-list-tile-title>Remove this occurrence</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout row class="mt-3">
              <v-flex xs11 offset-xs1>
                <v-menu offset-y
                  :close-on-content-click="false"
                  :nudge-width="60"
                  v-model="startMenu">
                  <v-btn class="ma-0 ds-gray-button" slot="activator">{{ startText }}</v-btn>
                  <div class="ds-gray-day-dropdown">
                    <ds-day-picker :highlight-span="!!input.start" :span="startSpan" @picked="setStart"></ds-day-picker>
                    <v-btn block class="mb-0 ds-gray-button" v-if="input.start" @click="setStart()">
                      Beginning of Time
                    </v-btn>
                  </div>
                </v-menu>
                &nbsp;&nbsp;to&nbsp;&nbsp;
                <v-menu offset-y
                  :close-on-content-click="false"
                  :nudge-width="60"
                  v-model="endMenu">
                  <v-btn class="ma-0 ds-gray-button" slot="activator">{{ endText }}</v-btn>
                  <div class="ds-gray-day-dropdown">
                    <ds-day-picker :highlight-span="!!input.end" :span="endSpan" @picked="setEnd"></ds-day-picker>
                    <v-btn block class="mb-0 ds-gray-button" v-if="input.end" @click="setEnd()">
                      End of Time
                    </v-btn>
                  </div>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs2 offset-xs1>
                <v-checkbox hide-details class="mr-2 mt-4"
                  label="All day"
                  v-model="allDay"
                ></v-checkbox>
              </v-flex>
              <v-flex xs7>
                <v-select single-line flat persistent-hint
                  class="ds-gray-select"
                  :items="types"
                  :hint="typeHint"
                  :hide-details="type !== 'custom'"
                  v-model="type"
                  item-text="label"
                  item-value="value"
                ></v-select>
              </v-flex>
              <v-flex xs2 v-if="type === 'custom'">
                <v-btn style="margin-top: 18px; height: 40px"
                  color="grey lighten-4"
                  @click="openCustom">Edit</v-btn>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-if="!allDay">
              <template v-for="(time, index) in input.times">
                <v-flex xs3 offset-xs3 class="mt-3">
                  <v-text-field
                    single-line flat hide-details
                    class="ds-gray-textfield pt-0"
                    type="time"
                    v-model="input.times[ index ]"
                  ></v-text-field>
                </v-flex>
                <v-flex xs6 class="mt-3">
                  <v-tooltip bottom>
                    <v-btn slot="activator" icon
                      class="btn--flat ma-0 mt-0 ml-2"
                      style="top:4px; left:4px;"
                      v-if="index < input.times.length - 1"
                      color="secondary"
                      @click="input.times.splice( index, 1 )"><v-icon>remove</v-icon></v-btn>
                    <span>Remove time</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <v-btn slot="activator" icon
                      class="btn--flat ma-0 mt-0 ml-2"
                      style="top:4px; left:4px;"
                      v-if="index === input.times.length - 1"
                      color="secondary"
                      @click="input.times.push('00:00')"><v-icon>add</v-icon></v-btn>
                    <span>Add time</span>
                  </v-tooltip>
                </v-flex>
              </template>
              <v-flex xs1 offset-xs2 class="pt-4 mt-1">
                lasts
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  single-line flat hide-details
                  class="ds-gray-textfield"
                  type="number"
                  v-model.number="input.duration"
                ></v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-select
                  single-line flat hide-details
                  class="ds-gray-select pl-1 mt-0"
                  :items="durationOptions"
                  v-model="input.durationUnit"
                ></v-select>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex xs12 class="mt-2">
                <v-tabs v-model="currentTab">
                  <v-tab href="#appearance">
                    Appearance
                  </v-tab>
                  <v-tab href="#forecast" v-if="!allDay">
                    Forecast
                  </v-tab>
                  <v-tab href="#exclusions" v-if="!allDay">
                    Removed Occurrences
                  </v-tab>
                  <v-tab-item id=appearance>
                    <v-card flat>
                      <v-card-text>
                        <v-select single-line flat hide-details
                          class="ds-gray-select pt-0"
                          :items="colors"
                          :color="color"
                          v-model="color">
                          <template slot="item" slot-scope="data">
                            <v-list-tile-content>
                              <div class="ds-color-option" :style="{backgroundColor: data.item.value}" v-text="data.item.text"></div>
                            </v-list-tile-content>
                          </template>
                        </v-select>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item id=forecast lazy>
                    <v-card flat>
                      <v-card-text>
                        <div class="pb-3">
                          The forecast shows previous & next
                          <v-text-field single-line hide-details
                            v-model.number="forecastSize"
                            type="number"
                            class="ds-gray-textfield ds-inline-textfield small"
                          ></v-text-field>
                          event occurrences.
                        </div>
                        <v-chip label close
                          v-for="d in forecast"
                          :key="d.time"
                          :color="d.sameDay( day ) ? 'primary' : ''"
                          :text-color="d.sameDay( day ) ? 'white' : ''"
                          @input="addExclusion( d )">
                          {{ d.format('ddd MMM Do YYYY') }}
                        </v-chip>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item id=exclusions lazy>
                    <v-card flat>
                      <v-card-text>
                        <div class="pb-3">
                          This is a list of event occurrences that were removed from the calendar.
                        </div>
                        <v-chip label close
                          v-for="d in input.exclude"
                          :key="d.time"
                          @input="removeExclusion( d )">
                          {{ d.format('ddd MMM Do YYYY') }}
                        </v-chip>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
              </v-flex>
            </v-layout>

            <v-dialog v-model="editCustom" max-width="900px" persistent>
              <v-card v-if="type === 'custom'">
                <v-card-text>
                  <div class="pa-3">
                    {{ typeHint }}
                  </div>
                  <v-layout row wrap>
                    <!-- Year -->
                    <v-flex xs5>
                      <v-select v-model="customYear" :items="yearOptions" label="Years" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 v-if="customYear === 'any'"></v-flex>
                    <v-flex xs7 v-if="customYear === 'oneof'" class="pl-1">
                      <v-select v-model="input.year" :items="yearOneOfs" class="ds-gray-select" hide-details multiple></v-select>
                    </v-flex>
                    <v-flex xs2 v-if="customYear === 'every'" class="pl-1">
                      <v-text-field v-model.number="input.year.every" type="number" class="ds-gray-textfield" hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs5 v-if="customYear === 'every'" class="pl-1">
                      <v-select v-model.number="input.year.offset" :items="yearOffsets" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <!-- Month -->
                    <v-flex xs5>
                      <v-select v-model="customMonth" :items="monthOptions" label="Months" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 v-if="customMonth === 'any'"></v-flex>
                    <v-flex xs7 v-if="customMonth === 'oneof'" class="pl-1">
                      <v-select v-model="input.month" :items="monthOneOfs" class="ds-gray-select" hide-details multiple></v-select>
                    </v-flex>
                    <v-flex xs2 v-if="customMonth === 'every'" class="pl-1">
                      <v-text-field v-model.number="input.month.every" type="number" class="ds-gray-textfield" hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs5 v-if="customMonth === 'every'" class="pl-1">
                      <v-select v-model.number="input.month.offset" :items="monthOffsets" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <!-- Week -->
                    <v-flex xs5>
                      <v-select v-model="customWeek" :items="weekOptions" label="Weeks" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 v-if="customWeek === 'any'"></v-flex>
                    <v-flex xs7 v-if="customWeek !== 'any'" class="pl-1">
                      <v-select v-model="customWeekType" :items="weekTypes" class="ds-gray-select" return-object hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 offset-xs5 v-if="customWeek === 'oneof'" class="pl-1">
                      <v-select v-model="input[ customWeekType.property ]" :items="weekOneOfs" class="ds-gray-select" hide-details multiple></v-select>
                    </v-flex>
                    <v-flex xs2 offset-xs5 v-if="customWeek === 'every'" class="pl-1">
                      <v-text-field v-model.number="input[ customWeekType.property ].every" type="number" class="ds-gray-textfield" hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs5 v-if="customWeek === 'every'" class="pl-1">
                      <v-select v-model.number="input[ customWeekType.property ].offset" :items="weekOffsets" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <!-- Day of Week -->
                    <v-flex xs5>
                      <v-select v-model="customWeekday" :items="weekdayOptions" label="Days of week" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 v-if="customWeekday === 'any' || customWeekday === 'weekday' || customWeekday === 'weekend'"></v-flex>
                    <v-flex xs7 v-if="customWeekday === 'oneof'" class="pl-1">
                      <v-select v-model="input.dayOfWeek" :items="weekdayOneOfs" class="ds-gray-select" hide-details multiple></v-select>
                    </v-flex>
                    <v-flex xs2 v-if="customWeekday === 'every'" class="pl-1">
                      <v-text-field v-model.number="input.dayOfWeek.every" type="number" class="ds-gray-textfield" hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs5 v-if="customWeekday === 'every'" class="pl-1">
                      <v-select v-model.number="input.dayOfWeek.offset" :items="weekdayOffsets" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <!-- Day -->
                    <v-flex xs5>
                      <v-select v-model="customDay" :items="dayOptions" label="Days" class="ds-gray-select" hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 v-if="customDay === 'any'"></v-flex>
                    <v-flex xs7 v-if="customDay !== 'any'" class="pl-1">
                      <v-select v-model="customDayType" :items="dayTypes" class="ds-gray-select" return-object hide-details></v-select>
                    </v-flex>
                    <v-flex xs7 offset-xs5 v-if="customDay === 'oneof'" class="pl-1">
                      <v-select v-model="input[ customDayType.property ]" :items="dayOneOfs" class="ds-gray-select" hide-details multiple></v-select>
                    </v-flex>
                    <v-flex xs2 offset-xs5 v-if="customDay === 'every'" class="pl-1">
                      <v-text-field v-model.number="input[ customDayType.property ].every" type="number" class="ds-gray-textfield" hide-details></v-text-field>
                    </v-flex>
                    <v-flex xs5 v-if="customDay === 'every'" class="pl-1">
                      <v-select v-model.number="input[ customDayType.property ].offset" :items="dayOffsets" class="ds-gray-select" hide-details></v-select>
                    </v-flex>

                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-btn class="mx-auto" color="primary" @click.stop="editCustom = false">Done</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-card>
      </v-dialog>
    </script>

    <script type="text/template" id="template_day">
      <div class="ds-day pa-1"
         :class="{ 'ds-today': day.currentDay, 'grey--text text--darken-1': day.currentOffset < 0 }"
         @click.stop="add">
        <div :class="{'grey--text text--darken-1': !day.inCalendar}">
          <span class="ds-first-day" v-if="day.dayOfMonth === 1">
            {{ day.format('MMM') }}
          </span>
          <span class="ds-dom" :class="{ 'ds-today-dom': day.currentDay }">
            {{ day.dayOfMonth }}
          </span>
        </div>
        <template v-for="(event, i) in day.events">
          <ds-event
            :event="event"
            :key="event.id"
            :style="{position: 'relative', top: ((event.row - i) * 18) + 'px'}"
            @edit="edit"
          ></ds-event>
        </template>
      </div>
    </script>

    <script type="text/template" id="template_day_row">
      <div class="ds-week">
        <template v-for="(day, i) in days">
          <ds-day :key="i" :day="day" @edit="edit" @add="add"></ds-day>
        </template>
      </div>
    </script>

    <script type="text/template" id="template_event">
      <div class="ds-event" :style="style" @click.stop="edit">
        <span v-if="event.starting">
          <span v-if="hasStartTime">
            {{ getStartTime }}
          </span>
          <strong>
            {{ event.event.name }}
          </strong>
        </span>
        <div v-else>
          &nbsp;
        </div>
      </div>
    </script>

    <script type="text/template" id="template_day_picker">
      <div class="ds-day-picker">
        <div class="ds-week-header mb-2">
          <div class="subtitle grey--text text--darken-1 py-1 pl-2">
            {{ summary }}
          </div>
          <v-tooltip bottom style="flex:1; text-align:center">
            <v-btn slot="activator" small icon depressed @click="prev" class="grey--text text--darken-1 ma-0">
              <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>
            <span>Previous month</span>
          </v-tooltip>
          <v-tooltip bottom style="flex:1; text-align:center">
            <v-btn slot="activator" small icon depressed @click="next" class="grey--text text--darken-1 ma-0">
              <v-icon>keyboard_arrow_right</v-icon>
            </v-btn>
            <span>Next month</span>
          </v-tooltip>
        </div>
        <div class="ds-week-subheader grey--text text--darken-1">
          <div class="ds-weekday" v-for="weekday in weekdays" :key="weekday">
            <v-tooltip bottom>
              <span slot="activator">{{ weekday.charAt(0) }}</span>
              <span>{{ weekday }}</span>
            </v-tooltip>
          </div>
        </div>
        <div class="ds-week">
          <div class="ds-day-pick" v-for="day in month.days" :key="day.dayIdentifier">
            <v-btn small icon depressed class="ma-0"
              @click="pick( day )"
              :class="{
                'btn--active': day.currentDay,
                'grey--text text--darken-1': !day.inCalendar,
                'primary': isHighlighted( day )
              }">
              {{ day.dayOfMonth }}
            </v-btn>
          </div>
        </div>
      </div>
    </script>

    <script>
      var fn = ds.Functions;
      var Store = {
        Watcher: function(name, deep) {
          return {
            deep: !!deep,
            handler: function(newValue) {
              localStorage.setItem(name, JSON.stringify(newValue));
            }
          };
        },
        Load: function(name, defaultValue, parser) {
          var oldValue = localStorage.getItem(name);
          if (!oldValue) {
            return defaultValue;
          }
          var parsedValue = JSON.parse(oldValue);
          if (parser) {
            parsedValue = parser( parsedValue );
          }
          return parsedValue;
        }
      };

      new Vue({
        el: '#dayspan',
        props: ['source'],
        data: {
          drawer: null,
          calendar: null,
          dayProperty: Store.Load('dayProperty', 'dayOfMonth'),
          currentType: null,
          types: [
            {id: 'D', label: 'Day', shortcut: 'D', type: ds.Units.DAY, size: 1},
            {id: 'W', label: 'Week', shortcut: 'W', type: ds.Units.WEEK, size: 1},
            {id: 'M', label: 'Month', shortcut: 'M', type: ds.Units.MONTH, size: 1},
            {id: 'Y', label: 'Year', shortcut: 'Y', type: ds.Units.YEAR, size: 1},
            {id: 'X', label: '4 days', shortcut: 'X', type: ds.Units.DAY, size: 4}
          ],
          selectionStart: null,
          dayProperties: {
            'Day Of Week': 'dayOfWeek',
            'Day Of Month': 'dayOfMonth',
            'Day Of Year': 'dayOfYear',
            'Week': 'week',
            'Week Of Year': 'weekOfYear',
            'Weekspan Of Year': 'weekspanOfYear',
            'Full Week Of Year': 'fullWeekOfYear',
            'Week Of Month': 'weekOfMonth',
            'Weekspan Of Month': 'weekspanOfMonth',
            'Full Week Of Month': 'fullWeekOfMonth'
          },
          weekdays: moment.weekdays(),
          weekdayCodes: moment.weekdaysShort(),
          schedules: [
            {
              event: {name: 'Monthly Meeting', color: '#3F51B5'},
              schedule: {
                dayOfWeek: [ds.Weekday.MONDAY],
                times: [9],
                duration: 30,
                durationUnit: 'minutes'
              }
            },
            {
              event: {name: 'Mother\'s Day', color: '#2196F3'},
              schedule: {
                month: [ds.Month.MAY],
                dayOfWeek: [ds.Weekday.SUNDAY],
                weekspanOfMonth: [1]
              }
            },
            {
              event: {name: 'First Weekend of May', color: '#4CAF50'},
              schedule: {
                month: [ds.Month.MAY],
                weekspanOfMonth: [0],
                dayOfWeek: [ds.Weekday.FRIDAY],
                duration: 3,
                durationUnit: 'days',
                times: [0]
              }
            }
          ]
        },
        watch: {
          input: Store.Watcher('input'),
          dayProperty: Store.Watcher('dayProperty'),
          currentType: function() {
            this.rebuild();
          }
        },
        computed: {
          summary: function() {
            return this.calendar ? this.calendar.summary(false, false, false, false) : '';
          },
          todayDate: function() {
            return ds.Day.today().format('dddd, MMMM D');
          },
          rows: function() {
            return Math.floor( this.calendar.days.length / 7 );
          },
          isDay: function() {
            return this.calendar && this.calendar.type === ds.Units.DAY;
          },
          isWeek: function() {
            return this.calendar && this.calendar.type === ds.Units.WEEK;
          },
          isMonth: function() {
            return this.calendar && this.calendar.type === ds.Units.MONTH;
          },
          isYear: function() {
            return this.calendar && this.calendar.type === ds.Units.YEAR;
          }
        },
        created: function() {
          // Initialize types
          if (!this.currentType) {
            this.currentType = this.types[2];
          }

          // Export
          window.app = this;
        },
        methods: {
          getAround: function() {
            var today = ds.Day.today();
            var cal = this.calendar;
            if (!cal) {
              return today;
            }
            if (cal.span.matchesDay(today)) {
              return today;
            }
            return cal.start;
          },
          rebuild: function(aroundDay) {
            var type = this.currentType || this.types[ 2 ];
            var around = aroundDay || this.getAround();

            if (this.calendar &&
                this.calendar.type === type.type &&
                this.calendar.size === type.size &&
                (!around || this.calendar.span.matchesDay( around ))) {
              return;
            }

            switch (type.type) {
              case ds.Units.DAY:
                this.calendar = ds.Calendar.days(type.size, around, 0, {
                  eventsOutside: true,
                  listTimes: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.WEEK:
                this.calendar = ds.Calendar.weeks(type.size, around, 0, {
                  eventsOutside: true,
                  listTimes: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.MONTH:
                this.calendar = ds.Calendar.months(type.size, around, 0, {
                  eventsOutside: true,
                  fill: true,
                  schedules: this.schedules
                });
                break;
              case ds.Units.YEAR:
                this.calendar = ds.Calendar.years(type.size, around, 0, {
                  eventsOutside: true,
                  fill: true,
                  schedules: this.schedules
                });
                break;
            }
          },
          selectStart: function(day) {
            this.selectionStart = day;
          },
          selectMove: function(day) {
            if (!this.selectionStart) {
              return;
            }
            var existing = this.calendar.selection;
            if (existing && existing.isPoint && existing.matchesDay( day ) && day.sameDay( this.selectionStart )) {
              this.calendar.unselect();
            } else {
              var min = day.min( this.selectionStart );
              var max = day.max( this.selectionStart );
              this.calendar.select(min, max);
            }
          },
          selectEnd: function(day) {
            this.selectMove( day );
            this.selectionStart = null;
          },
          next: function() {
            this.calendar.unselect().next();
          },
          prev: function() {
            this.calendar.unselect().prev();
          },
          today: function() {
            this.rebuild(ds.Day.today());
          },
          dayAtIndex: function(row, cell) {
            return this.calendar.days[ (row - 1) * 7 + (cell - 1) ];
          },
          daysAtRow: function(row, rowSize) {
            var start = (row - 1) * rowSize;
            return this.calendar.days.slice( start, start + rowSize );
          },
          edit: function(eventDay) {
            this.$refs.scheduler.edit(eventDay.day, eventDay.event);
          },
          add: function(day) {
            this.$refs.scheduler.add(day);
          },
          eventSave: function(data) {
            if (data.event) {
              data.event.event.name = data.name;
              data.event.event.color = data.color;
              data.event.schedule.set(data.schedule);
              this.calendar.refreshEvents();
            } else {
              var entry = {
                event: {name: data.name, color: data.color},
                schedule: data.schedule
              };
              this.schedules.push(entry);
              this.calendar.addSchedule(entry);
            }
          },
          eventRemove: function(calendarEvent) {
            this.calendar.removeSchedule(calendarEvent.event);
          },
          eventRemoveOccurrence: function(data) {
            data.event.schedule.exclude[ data.day.dayIdentifier ] = true;
            this.calendar.refreshEvents();
          }
        }
      });

      Vue.component('dsScheduler', {
        template: '#template_scheduler',
        data: function() {
          return {
            open: false,
            creating: false,
            event: null,
            color: null,
            title: '',
            input: {},
            day: null,
            type: '',
            startMenu: false,
            endMenu: false,
            editCustom: false,
            currentTab: 'appearance',
            forecastSize: 10,
            customWeekTypeCache: null,
            customDayTypeCache: null,
            colors: [
              { text: 'Red', value: '#F44336' },
              { text: 'Pink', value: '#E91E63' },
              { text: 'Purple', value: '#9C27B0' },
              { text: 'Deep Purple', value: '#673AB7' },
              { text: 'Indigo', value: '#3F51B5' },
              { text: 'Blue', value: '#2196F3' },
              { text: 'Light Blue', value: '#03A9F4' },
              { text: 'Cyan', value: '#00BCD4' },
              { text: 'Teal', value: '#009688' },
              { text: 'Green', value: '#4CAF50' },
              { text: 'Light Green', value: '#8BC34A' },
              { text: 'Lime', value: '#CDDC39' },
              { text: 'Yellow', value: '#FFEB3B' },
              { text: 'Amber', value: '#FFC107' },
              { text: 'Orange', value: '#FF9800' },
              { text: 'Deep Orange', value: '#FF5722' },
              { text: 'Brown', value: '#795548' },
              { text: 'Blue Gray', value: '#607D8B' },
              { text: 'Gray', value: '#9E9E9E' },
              { text: 'Black', value: '#000000' }
            ],

            yearOptions: [
              { text: 'Any year', value: 'any'},
              { text: 'On the following years...', value: 'oneof'},
              { text: 'Every _ years starting on _', value: 'every'}
            ],
            monthOptions: [
              { text: 'Any month', value: 'any'},
              { text: 'On the following months...', value: 'oneof'},
              { text: 'Every _ months starting on _', value: 'every'}
            ],
            weekTypes: [
              { text: 'Week of the month (first week has a Thursday)', property: 'weekOfMonth', max: 6 },
              { text: 'Weekspan of the month (starts on first day of month)', property: 'weekspanOfMonth', max: 7, min: 1, offset: -1 },
              { text: 'Full week of the month (0th = the week before if any)', property: 'fullWeekOfMonth', max: 6 },
              { text: 'Week of the year (first week has a Thursday)', property: 'weekOfYear', max: 54 },
              { text: 'Weekspan of the year (starts on first day of year)', property: 'weekspanOfYear', max: 53, min: 1, offset: -1 },
              { text: 'Full week of the year (0th = the week before if any)', property: 'fullWeekOfYear', max: 54 },
            ],
            weekOptions: [
              { text: 'Any week', value: 'any'},
              { text: 'On the following weeks...', value: 'oneof'},
              { text: 'Every _ weeks starting on _', value: 'every'}
            ],
            weekdayOptions: [
              { text: 'Any day of the week', value: 'any'},
              { text: 'On the following days of the week...', value: 'oneof'},
              { text: 'Ever _ weekday starting on _', value: 'every'},
              { text: 'Weekends', value: 'weekend'},
              { text: 'Weekdays', value: 'weekday'}
            ],
            dayTypes: [
              { text: 'Day of the month', property: 'dayOfMonth', max: 32, min: 1 },
              { text: 'Day of the year', property: 'dayOfYear', max: 367, min: 1, offset: -1 }
            ],
            dayOptions: [
              { text: 'Any day', value: 'any'},
              { text: 'On the following days...', value: 'oneof'},
              { text: 'Every _ days starting on _', value: 'every'}
            ],
            durationOptions: [
              { text: 'minutes', value: 'minutes' },
              { text: 'hours', value: 'hours' },
              { text: 'days', value: 'days' },
              { text: 'weeks', value: 'weeks' },
              { text: 'months', value: 'months' }
            ]
          };
        },
        computed: {
          // Custom Dropdown Options
          yearOneOfs: function() {
            var currentYear = this.input.start || this.day;
            var min = currentYear.year - 5;
            var max = currentYear.year + 20;
            var oneof = [];
            for (var i = min; i <= max; i++) {
              oneof.push({
                text: i,
                value: i
              });
            }
            return oneof;
          },
          yearOffsets: function() {
            var max = this.input.year.every;
            var currentYear = this.input.start || this.day;
            var offsets = [];
            for (var i = 0; i < max; i++) {
              offsets.push({
                text: currentYear.year + i,
                value: i
              });
            }
            return offsets;
          },
          monthOneOfs: function() {
            return moment.months().map(function(name, i) {
              return {
                text: name,
                value: i
              };
            });
          },
          monthOffsets: function() {
            return this.customOffsets( this.input.month.every, moment.months() );
          },
          weekdayOneOfs: function() {
            return moment.weekdays().map(function(name, i) {
              return {
                text: name,
                value: i
              };
            });
          },
          weekdayOffsets: function() {
            return this.customOffsets( this.input.dayOfWeek.every, moment.weekdays() );
          },
          dayOneOfs: function() {
            var opt = this.customDayType;
            return this.customOffsets( opt.max, ds.Suffix.CACHE, opt.min, opt.offset );
          },
          dayOffsets: function() {
            var opt = this.customDayType;
            return this.customOffsets( this.input[ opt.property ].every + 1, ds.Suffix.CACHE, opt.min, opt.offset );
          },
          weekOneOfs: function() {
            var opt = this.customWeekType;
            return this.customOffsets( opt.max, ds.Suffix.CACHE, opt.min, opt.offset  );
          },
          weekOffsets: function() {
            var opt = this.customWeekType;
            return this.customOffsets( this.input[ opt.property ].every + 1, ds.Suffix.CACHE );
          },

          // Custom Options
          customYear: {
            get: function() {
              return this.customGet(this.input.year);
            },
            set: function(value) {
              this.customSet('year', value);
            }
          },
          customMonth: {
            get: function() {
              return this.customGet(this.input.month);
            },
            set: function(value) {
              this.customSet('month', value);
            }
          },
          customWeekType: {
            get: function() {
              if (!this.customWeekTypeCache) {
                this.customWeekTypeCache = this.customFindType(this.weekTypes);
              }
              return this.customWeekTypeCache;
            },
            set: function(newType) {
              this.customWeekTypeCache = this.customApplyType(newType, [], this.customWeekTypeCache);
            }
          },
          customWeek: {
            get: function() {
              return this.customGet(this.input[ this.customWeekType.property ]);
            },
            set: function(value) {
              this.customSet(this.customWeekType.property, value);
            }
          },
          customWeekday: {
            get: function() {
              var x = this.input.dayOfWeek;
              if (x && fn.isArrayEquals(x, ds.Weekday.WEEK)) return 'weekday';
              if (x && fn.isArrayEquals(x, ds.Weekday.ENDS)) return 'weekend';
              return this.customGet(x);
            },
            set: function(value) {
              switch (value) {
                case 'weekday':
                  this.input.dayOfWeek = ds.Weekday.WEEK;
                  break;
                case 'weekend':
                  this.input.dayOfWeek = ds.Weekday.ENDS;
                  break;
                default:
                  this.customSet('dayOfWeek', value, true);
                  break;
              }
              this.updateInput();
            }
          },
          customDayType: {
            get: function() {
              if (!this.customDayTypeCache) {
                this.customDayTypeCache = this.customFindType(this.dayTypes);
              }
              return this.customDayTypeCache;
            },
            set: function(newType) {
              this.customDayTypeCache = this.customApplyType(newType, [], this.customDayTypeCache);
            }
          },
          customDay: {
            get: function() {
              return this.customGet(this.input[ this.customDayType.property ]);
            },
            set: function(value) {
              this.customSet(this.customDayType.property, value);
            }
          },

          forecast: function()
          {
            var days = [];

            if (this.day)
            {
              var schedule = new ds.Schedule(this.input);
              var size = parseInt(this.forecastSize) || 1;

              days = days.concat( schedule.prevDays( this.day, size + 1, true ) );
              days.reverse();
              days = days.concat( schedule.nextDays( this.day, size, false ) );
            }

            return days;
          },

          typeHint: function() {
            return this.type === 'custom' ? new ds.Schedule(this.input).describe('event', false, false, false, false) : '';
          },
          canSave: function() {
            return !!this.title;
          },
          header: function() {
            return this.event ? 'Edit Event' : 'Add Event';
          },
          canRemove: function() {
            return !!this.event;
          },
          canExclude: function() {
            return !!this.event;
          },
          types: function() {
            if (!this.day) {
              return [];
            }
            var day = this.day;
            return ds.Patterns.map(function(pattern) {
              return {
                label: pattern.describe( day ),
                value: pattern.name
              }
            });
          },
          startSpan: function() {
            return ds.DaySpan.point((this.input ? this.input.start : null) || this.day);
          },
          startText: function() {
            return this.input && this.input.start ? this.input.start.format('MMMM Do, YYYY') : 'Beginning of Time';
          },
          endSpan: function() {
            return ds.DaySpan.point((this.input ? this.input.end : null) || this.day);
          },
          endText: function() {
            return this.input && this.input.end ? this.input.end.format('MMMM Do, YYYY') : 'End of Time';
          },
          allDay: {
            set: function(allDay) {
              if (allDay) {
                delete this.input.times;
                delete this.input.duration;
                delete this.input.durationUnit;
              } else {
                this.input.times = ['08:00'];
                this.input.duration = 1;
                this.input.durationUnit = 'hours';
              }
              this.updateInput();
            },
            get: function() {
              return this.input && (!this.input.times || this.input.times.length === 0);
            }
          }
        },
        mounted: function() {
          window.Scheduler = this;
        },
        watch: {
          type: 'updateType'
        },
        methods: {
          add: function(day) {
            this.day = day;
            this.event = null;
            this.title = '';
            this.color = this.colors[Math.floor(this.colors.length * Math.random())].value;
            this.input = {};
            this.finishOpen('none');
          },
          edit: function(onDay, event) {
            this.day = onDay;
            this.event = event;
            this.title = event.event.name;
            this.color = event.event.color;
            this.input = event.schedule.toInput(true, false, 'HH:mm');
            if (this.input.duration && !this.input.durationUnit) {
              this.input.durationUnit = 'minutes';
            }
            this.finishOpen(this.determineType());
          },
          finishOpen: function(type) {
            this.forceType(type);
            this.forecastSize = 5;
            this.currentTab = 'appearance';
            this.startMenu = false;
            this.endMenu = false;
            this.editCustom = false;
            this.creating = false;
            this.open = true;
          },
          openCustom: function() {
            this.customWeekTypeCache = null;
            this.customDayTypeCache = null;
            this.editCustom = true;
          },
          remove: function() {
            this.$emit('remove', this.event);
            this.open = false;
          },
          exclude: function() {
            this.$emit('exclude', {
              event: this.event,
              day: this.day
            });
            this.open = false;
          },
          cancel: function() {
            this.$emit('cancel');
            this.open = false;
          },
          prepareInput: function() {
            return this.copyShallow(this.input);
          },
          save: function() {
            this.$emit('save', {
              name: this.title,
              color: this.color,
              schedule: this.prepareInput(),
              event: this.event
            });
            this.open = false;
          },
          addExclusion: function(day) {
            if (day) {
              if (!this.input.exclude) {
                this.input.exclude = [];
                this.updateInput();
              }
              this.input.exclude.push( day );
            }
          },
          removeExclusion: function(day) {
            if (day) {
              var exclude = this.input.exclude;
              for (var i = exclude.length - 1; i >= 0; i--) {
                if (day.sameDay( exclude[ i ] )) {
                  exclude.splice( i, 1 );
                }
              }
            }
          },
          customGet: function(value) {
            if (!value) return 'any';
            if (fn.isArray(value)) return 'oneof';
            if (fn.isFrequencyValueEvery(value)) return 'every';
            return 'unknown';
          },
          customSet: function(prop, newValue, delayUpdate) {
            switch (newValue) {
              case 'any':
                delete this.input[ prop ];
                break;
              case 'oneof':
                if (!fn.isArray(this.input[ prop ])) {
                  this.input[ prop ] = [];
                }
                break;
              case 'every':
                if (!fn.isFrequencyValueEvery(this.input[ prop ])) {
                  this.input[ prop ] = { every: 2 };
                }
                break;
            }
            if (!delayUpdate) {
              this.updateInput();
            }
          },
          customOffsets: function(max, array, start, valueOffset) {
            var offsets = [];
            var min = start || 0;
            var offset = valueOffset || 0;
            for (var i = min; i < max; i++) {
              offsets.push({
                text: array[ i ],
                value: i + offset
              });
            }
            return offsets;
          },
          customFindType: function(types) {
            for (var i = 0; i < types.length; i++) {
              var type = types[ i ];
              if (this.input[ type.property ]) {
                return type;
              }
            }
            return types[0];
          },
          customApplyType: function(newType, newValue, oldType) {
            if (oldType) {
              var oldValue = this.input[ oldType.property ];
              if (oldValue) {
                newValue = oldValue;
              }
              delete this.input[ oldType.property ];
            }
            this.input[ newType.property ] = newValue;
            this.updateInput();
            return newType;
          },
          setStart: function(start) {
            this.input.start = start;
            this.updateInput();
            this.startMenu = false;
          },
          setEnd: function(end) {
            this.input.end = end;
            this.updateInput();
            this.endMenu = false;
          },
          forceType: function(type) {
            if (this.type === type) {
              this.updateType('', type);
              this.updateType(type, '');
            } else {
              this.type = type;
            }
          },
          updateType: function(newType, oldType) {
            var inputChanged = false;
            var input = this.input;
            if (oldType === 'none') {
              delete input.end;
              inputChanged = true;
            }
            if (newType) {
              var pattern = ds.Pattern.withName(newType);
              if (pattern) {
                pattern.apply(input, this.day);
                inputChanged = true;
              }
            }
            if (newType === 'none') {
              input.start = this.day.start();
              input.end = this.day.end();
              if (input.times && input.duration && input.durationUnit) {
                var lastTime = null;
                input.times.forEach(function(rawTime) {
                  var time = ds.Time.parse(rawTime);
                  if (time && (!lastTime || time.toMilliseconds() > lastTime.toMilliseconds())) {
                    lastTime = time;
                  }
                });
                if (lastTime) {
                  input.end = this.day.withTime(lastTime).add(input.duration, input.durationUnit);
                }
              }
              inputChanged = true;
            }
            if (inputChanged) {
              this.updateInput();
            }
          },
          determineType: function() {
            var pattern = ds.Pattern.findMatch(this.input);
            return pattern ? pattern.name : 'custom';
          },
          copyShallow: function(x) {
            var out = {};
            for (var prop in x) {
              out[ prop ] = x[ prop ];
            }
            return out;
          },
          updateInput: function() {
            this.input = this.copyShallow(this.input);
          }
        }
      });

      Vue.component('dsEvent', {
        props: ['event'],
        template: '#template_event',
        computed: {
          now: function() {
            return ds.Day.now();
          },
          style: function() {
            return {
              backgroundColor: this.event.event.color,
              opacity: this.now.isAfter(this.event.time.end) ? 0.5 : 1.0
            };
          },
          hasStartTime: function() {
            return !this.event.schedule.isFullDay() && this.event.schedule.times.length === 1;
          },
          getStartTime: function() {
            return this.event.schedule.times[0].format('ha');
          }
        },
        methods: {
          edit: function() {
            this.$emit('edit', this.event);
          }
        }
      });

      Vue.component('dsDayRow', {
        props: ['days'],
        template: '#template_day_row',
        watch: {
          days: {
            immediate: true,
            handler: 'updateRows'
          }
        },
        methods: {
          edit: function(eventDay) {
            this.$emit('edit', eventDay);
          },
          add: function(day) {
            this.$emit('add', day);
          },
          updateRows: function() {
            var eventToRow = {};
            this.days.forEach(function(day) {
              day.events.sort(function(a, b) {
                return a.time.start.time - b.time.start.time;
              });
              var rowIndex = 0;
              day.events.forEach(function(e) {
                if (e.id in eventToRow) {
                  rowIndex = (e.row = eventToRow[ e.id ]) + 1;
                } else {
                  eventToRow[ e.id ] = e.row = rowIndex++;
                }
              });
            });
          }
        }
      });

      Vue.component('dsDay', {
        props: ['day'],
        template: '#template_day',
        methods: {
          edit: function(event) {
            this.$emit('edit', {
              event: event,
              day: this.day
            });
          },
          add: function() {
            this.$emit('add', this.day);
          }
        }
      });

      Vue.component('dsDayPicker', {
        props: ['span', 'highlightSpan'],
        template: '#template_day_picker',
        data: function() {
          return {
            month: this.getMonth(),
            weekdays: moment.weekdays()
          };
        },
        computed: {
          summary: function() {
            return this.month ? this.month.summary(false, false, false, false) : '';
          }
        },
        watch: {
          span: {
            deep: true,
            handler: function(span) {
              if (!span.matchesMonth(this.month.start)) {
                this.month = this.getMonth();
              }
            }
          }
        },
        methods: {
          isHighlighted: function(day) {
            return this.highlightSpan && this.span.matchesDay(day);
          },
          getMonthStart: function() {
            return this.span && this.span.start ? this.span.start : ds.Day.today();
          },
          getMonth: function() {
            return ds.Calendar.months(1, this.getMonthStart(), 0, {fill: true, minimumSize: 42});
          },
          pick: function(day) {
            this.$emit('picked', day);
          },
          prev: function() {
            this.month.prev();
            this.$emit('prev', this.month);
          },
          next: function() {
            this.month.next();
            this.$emit('next', this.month);
          }
        }
      });
    </script>

    <style>
      nav.toolbar .toolbar__content {
        border-bottom: 1px solid rgb(224, 224, 224);
      }
      .ds-expand {
        width: 100%;
        height: 100%;
      }
      .ds-month {
        display: flex;
        flex-direction: column;
        background-color: white;
      }
      .ds-week-header {
        display: flex;
      }
      .ds-week-header-day {
        flex: 1 0 20px;
        border-right: #e0e0e0 1px solid;
      }
      .ds-week {
        display: flex;
        flex: 1;
      }
      .ds-day {
        flex: 1;
        width: 0;
        border-right: #e0e0e0 1px solid;
        border-bottom: #e0e0e0 1px solid;
      }
      .ds-day .ds-today-dom {
        margin: -10px;
        padding: 10px;
        border-radius: 20px;
        background-color: #4285f4;
        color: white;
      }
      .ds-event {
        margin: 1px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 0.5em;
        font-size: 12px;
        cursor: pointer;
      }
      .ds-day-picker .ds-week-header {
        display: flex;
      }
      .ds-day-picker .ds-week-header > div {
        flex: 1;
      }
      .ds-day-picker .ds-week-header .subtitle {
        flex: 5;
      }
      .ds-day-picker .ds-week-subheader {
        display: flex;
        text-align: center
      }
      .ds-day-picker .ds-week {
        display: flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .ds-day-picker .ds-weekday {
        flex: 1;
      }
      .ds-day-picker .ds-day-pick {
        flex: 1 0 14%;
      }
      .ds-week-view .ds-first-day {
        display: none;
      }
      .ds-week-view .ds-week-header-today,
      .ds-week-view .ds-today .ds-today-dom {
        color: #4285f4 !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background-color: white;
      }
      .ds-week-view .ds-day > div:first-child {
        margin-top: -16px;
      }
      .ds-week-view .ds-dom {
        font-size: 38px;
      }
      .ds-week-view .ds-week-header-day {
        padding-left: 0.5em !important;
      }
      .ds-color-option {
        width: 100%;
        color: white;
        padding: 4px;
      }
      .ds-gray-textfield .input-group__input input,
      .ds-gray-select .input-group__input {
        background-color: #f5f5f5;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        height: 40px;
        padding: 10px;
      }
      .ds-gray-textfield > label {
        margin-top: -8px;
        margin-left: 8px;
      }
      .ds-gray-textfield .input-group__details::before,
      .ds-gray-select .input-group__details::before {
        background-color: #f5f5f5 !important;
      }
      .ds-font-18,
      .ds-font-18 input {
        font-size: 18px;
      }
      .ds-gray-button {
        background-color: #f5f5f5 !important;
        height: 40px;
      }
      .ds-gray-day-dropdown {
        width: 260px;
        background-color: white;
        padding: 10px;
      }
      .ds-inline-textfield {
        width: auto;
        display: inline-block !important;
        margin-left: 6px;
        margin-right: 6px;
        top: 14px;
        padding-top: 0px;
        margin-top: -14px;
      }
      .ds-inline-textfield.small {
        width: 60px;
      }
    </style>


  </body>
</html>
